.pt
packages
.DS_Store
_ReSharper.*
[Bb]in/
[Oo]bj/
*.user
*.suo
*.tlh
.svn
*.sln.cache
Assessment/*eb.config
Assessment/*pp.config
ClientBin
cm/*/Assemblies/
ReleaseImage
!*/packages/*/lib/*.dll
*.orig
!*/lib/*/*
Assemblies/**/*.dll
cm/NetSqlAzMan/3.6/NetSqlAzMan.*
.idea
*.docstates
[Ll]og/
*.log*
~$*.*
.sass-cache
MolesAssemblies
*.trx
*.Publish.xml
imageStore
_gsdata_
*.config
![Aa]pp.config
![Ww]eb.config
!repositories.config
!packages.config
!*.example.config
Data/
platform/TNW.UserSessionService/packages/RavenDB.1.0.0.427/server/Tenants/
*.dotCover
*.ReSharper
!*/Integration-Environment-Configs/*/*.config
/policy/TNW.PolicyManagement.5.1.ReSharper.template
*/packages/Raven*/server/Tenants/
*/packages/Raven*/server/Data/
TNW*.dotCover
tools/console.xml
!cm/Environments/*/*/*.example.config
sptier0.js
tools/Console2/console.xml
tools/nginx-1.0.13/logs
build/release-notes.html
policy/EventHandlers/rendering_templates/*
WholeEnchilada.sln
TestResult.xml
additional_binds.yml
TestResults/